@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.hireContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .terms {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include text($titleFontFamily, 14pt, normal, .1rem, $textColor);
    }
}





