.mainBlock {
    height: 100vh;
    background-color: #fab8b8;
}
.text {
    width: 300px;
    background-color: #f3e1e1;
}
.photo {
    display: flex;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: #f3e1e1;
}
.photo img{
    width: 100%;
}
