body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}
@font-face {
  font-family: "Wastebased";
  src: local("Wastebased"),
  url("./common/fonts/wastebased.ttf") format("truetype"),
  url("./common/fonts/wastebased.woff") format("woff"),
  url("./common/fonts/wastebased.otf") format("otf"),
  url("./common/fonts/wastebased.svg") format("svg");
  font-weight: bold;
  font-size: small;
}
