$bgColorDark: linear-gradient(54deg, rgba(37, 37, 37, 0.95) 34%, rgba(86, 86, 86, 0.95));
$bgColorLight: linear-gradient(54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
$bgColor: linear-gradient(200deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
//$bgImg: url(../../../img/img_bg_main.jpg);

$textColor: #29292a;
$textSecondColor: #ffffff;

$bgBarColor: #29292a;
$bgBarColorDark: #ffffff;

$titleFontFamily: 'Wastebased', bolt;

//@font-face {
//  font-family: 'wastebased';
//  src: local('O'), url("src/common/fonts/wastebased.svg") format('svg'),
//  url("src/common/fonts/wastebased.woff") format('woff'),
//  url("src/common/fonts/wastebased.ttf") format('fruetype'),
//  url("src/common/fonts/wastebased.otf") format('otf');
//  font-weight: 500;
//  font-style: normal;
//}
//$wasFont : 'wastebased', 500