$bgColorDark: linear-gradient(54deg, rgba(45, 45, 45, .95) 34%, rgba(45, 45, 45, .95));
$bgColorLight: linear-gradient(54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
$bgColor: linear-gradient(200deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
//$bgImg: url(../../../img/img_bg_main.jpg);

$textColor: #29292a;
$textSecondColor: #ffffff;

$bgBarColor: #29292a;
$bgBarColorDark: #ffffff;

$titleFontFamily: 'Nunito', sans-serif;