@import "../common/styles/sass/variables";

.projectsBlock {
  height: 100%;
  /* background-color: #6bf6dc;*/
  background: $bgColorDark;
  padding: 50px 0 100px 0;

  .projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .projects {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1360px) {
        justify-content: center;
      }
    }

  }
}






